.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  height: 50px;
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 0px;
}

.header_searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #ffffff;
  cursor: pointer;
}
input:focus {
  outline: none;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header_searchInput {
  height: 14px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-family: sans-serif;
}

.header_option1 {
  font-size: 10px;
}

.header_option2 {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.basket-shake {
  animation: shake 0.5s ease-in-out;
}
