.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    height: 40px;
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}